<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">

    <div th:fragment="header">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">HOME</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/interstellar}">Shortest Distance</a></li>
                        <li><a href="#" th:href="@{/planets}">Planets</a></li>
                        <li><a href="#" th:href="@{/routes}">Routes</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div style="margin-top:40px">
            <div class="row text-center">
                <div class="">
                    <h1><I><B>Interstellar Transport System</B></I></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>